# Игнорировать все файлы с расширениями
*.qmake.stash
*.pro.user

# Игнорировать все файлы и каталоги, начинающиеся с
Makefile*

# Игнорировать каталоги 
build/
tmp/
debug/
release/
bin/
.qtc_clangd/
.qtc*/